@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Outfit:wght@100..900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

.active{
  background-color: #ffebf5;
  border-color: #c586c5
}